@media (max-width: 1000px) {

    * {
        padding: 0;
        margin: 0;
        



    }

    .caixa-mae {
        /* background-color: red; */
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Header {
        display: none;
    }

    .caixa-inicio {
        padding: 0;
        width: 100%;
        /* background-color: aqua; */


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-principal {
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: aquamarine; */
        width: 390px;
        left: 0;
    }

    .logo-principal img {
        /* background-color: black; */
        height: 70px;
        width: 350px;
    }

    .logo-principal h1 {
        /* background-color: red; */

        margin-left: -235px;
        font-size: 30px;
    }

    .plataformas {
        /* background-color: blue; */
        left: 0;
        right: 0;
        top: -155px;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vendas {
        /* background-color: brown; */


        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

    }

    .plataformas {
        /* background-color: beige; */
        left: 0;

    }

    .plataformas img {
        /* background-color: blueviolet; */

        height: 18px;
    }

    .caixa-principal {
        padding: 0;
        /* background-color: blue; */
        display: flex;
        width: 600px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .caixa-conteudo-baixavel {
        /* background-color: burlywood; */
        display: flex;
        margin-left: 40px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .conteudo {
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    .titulo-conteudo {
        /* background-color: black; */
        left: -197px;
        font-size: 25px;
        top: 159px;

    }

    .conteudo img {
        /* background-color: red; */
        height: 250px;
        width: 350px;
    }

    .caixa {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


    }

    .caixa-sobre {
        background-color: red;
        

        width: 467px;
        


    }

    .caixa-texto {


        left: 16px;
        width: 450px;


        top: -450px;


    }

    .caixa-texto h1 {
        font-size: 35px;

        width: 80px;

    }

    .caixa-texto h2 {
        font-size: 50px;
        width: 300px;

    }

    .caixa-texto p {

        width: 410px;
        font-size: 15px;





    }

    .fotos-sobre {

        top: -380px;
        gap: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background-color: aqua; */
    }

    .fotos-sobre img {
        height: 248px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: brown; */
    }

    .leon-and-ashley {
        height: 797px;
    }


    .texto-historia {
        left: 16px;
        top: -150px;
        width: 450px;
        
        

    }

    .history {
        background-color: black;
        width: 467px;
        margin-top: 300px;
        height: 800px;
    }




    

    .historia {
       
        top: 0;
        height: 361px;
    }

    .personagens {
        
        margin-top: 910px;
        
        display: flex;
        flex-direction: column;
    }

    .titulo-personagem h1 {
        font-size: 50px;
        display: flex;
        left: -160px;
        position: relative;
    }

    .personagem {
        right: 0;
        width: 412px;
        height: 272px;
    }

    .personagem img {
        height: 50px;
        width: 100px;
    }

    

    



}